.jisc-banner .panel {
  font-family: Corbel, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
  
.jisc-banner .panel-body {
  color: #2c3841;
  background-color: #e4e9ec;
}
  
.jisc-banner .panel-default>.panel-heading {
  color: #2c3841;
  background-color: #e4e9ec;
  border-color: #fff;
  font-size: 1.2em;
  padding: 0px;
}
  
.jisc-banner .content-text {
  font-size: .75em;
  line-height: 1.9em;
}

.jisc-banner .banner-link {
  color: #00557f;
}

.jisc-banner #jisc-banner-content {
  font-size: 1.3em;
}
